name: Daily Power News

on:
  schedule:
    # 每天北京时间早上 8:00 运行
    - cron: '0 0 * * *'
  workflow_dispatch: # 允许手动运行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run script
        env:
          XP_TOKEN: ${{ secrets.XP_TOKEN }}
          XP_UID: ${{ secrets.XP_UID }}
        run: python daily_news.py
